<div class="row">
  <aside class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
<%= @user.name %>
</h3>
      </div>
      <div class="panel-body">
        <img class="media-object img-rounded img-responsive" src="
<%= gravatar_url(@user, { size: 500 }) %>
" alt="">
      </div>
    </div>

<%= render 'relationships/follow_button', user: @user %>

  </aside>
  <div class="col-xs-8">
    <ul class="nav nav-tabs nav-justified">
      <li class="
<%= 'active' if current_page?(user_path(@user)) %>
">
<%= link_to user_path(@user) do %>
Microposts <span class="badge">
<%= @count_microposts %>
</span>
<% end %>
</li>
      <li class="
<%= 'active' if current_page?(followings_user_path(@user)) %>
">
<%= link_to followings_user_path(@user) do %>
Followings <span class="badge">
<%= @count_followings %>
</span>
<% end %>
</li>
      <li class="
<%= 'active' if current_page?(followers_user_path(@user)) %>
">
<%= link_to followers_user_path(@user) do %>
Followers <span class="badge">
<%= @count_followers %>
</span>
<% end %>
</li>
    </ul>
    
<ul class="media-list">

<% @microposts.each do |micropost| %>


<% user = micropost.user %>

    <li class="media">
      <div class="media-left">
        <img class="media-object img-rounded" src="
<%= gravatar_url(user, options = { size: 50 }) %>
" alt="">
      </div>
      <div class="media-body">
        <div>

<%= link_to user.name, user_path(user) %>
 <span class="text-muted">posted at 
<%= micropost.created_at %>
</span>
        </div>
        <div>
          <p>
<%= micropost.content %>
</p>
        </div>
        
        
        <div>
        <% if Like.find_by(user_id: @current_user.id, micropost_id: @micropost.id) %>
        <%= link_to("いいね！取消","/likes/#{@micropost.id}/destroy", {method: "post"}) %>
        <% else %>
        <%= link_to("いいね！","/likes/#{@micropost.id}/create", {method: "post"}) %>
        <% end %>
        </div>
        
        
        
        <div>
            <% if current_user == micropost.user %>
            <%= link_to "Delete", micropost, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
            <% end %>
        </div>
      </div>
    </li>

<% end %>


<%= paginate @microposts %>

</ul>
  </div>
</div>