<ul class="media-list">
  <% @microposts.each do |micropost| %>
    <% user = micropost.user %>
      <li class="media">
        <div class="media-left">
          <img class="media-object img-rounded" src="<%= gravatar_url(user, options = { size: 50 }) %>" alt="">
        </div>
        <div class="media-body">
          <div><%= link_to user.name, user_path(user) %><span class="text-muted">posted at<%= micropost.created_at %></span></div>
          <div><p><%= micropost.content %></p></div>
          <div>
            <%= render 'likes/like_button', micropost: micropost %>
            <% if current_user == micropost.user %>
              <%= link_to "Delete", micropost, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
            <% end %>
          </div>

          <div>
            <i class="fas fa-star star star1" id="star1"></i>
            <i class="fas fa-star star star2" id="star2"></i>
            <i class="fas fa-star star star3" id="star3"></i>
            <i class="fas fa-star star star4" id="star4"></i>
            <i class="fas fa-star star star5" id="star5"></i>
          </div>

        </div>
      </li>
    <% end %>
<%= paginate @microposts %>
</ul>